body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {

    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: column-reverse;
    flex-wrap: nowrap;

}

header {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ffcc00;
}

.cart-icon {
    font-size: 1.5rem;
}

.hero {
    background: url('hero-image.jpg') center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.cta-button {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 20px;
}

.products {
    padding: 50px 0;
}

.cart {
    background-color: #f9f9f9;
    padding: 20px 0;
    margin-top: 30px;
}

footer {
    background-color: #4CAF50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
